
<link rel="stylesheet" type="text/css" href="styles/index.css">
{% include  "_navbar.html" %}
  <div class="container">
  	<h1 class="title"> {{title}} </h1>
  	<div class="row">
  		<input type="button" class="btn btn-info changeDirection" value="RU <-> CS" data-direction="ru-cs"/>
  	</div>
  	<div class="row">
  		<textarea name="text" id="text" class="col-lg-6"></textarea> 
  		<div class="col-lg-6">
  			<textarea name="text" id="translationText" class="col-lg-12"></textarea> 
  			<a class="saveBtn">Save</a>
  		</div>
  	</div>
  </div>
<script src="scripts/foreign/require.js"></script>

<script>
require(["scripts/init"], function(){
	require(["jquery", "scripts/views/app.js"], function ($, App) {
	});
})
</script>