<div class="title"> {{title}} </div>
<link rel="stylesheet" type="text/css" href="styles/index.css">


<div class="mainContent">
	<textarea name="text" id="text"></textarea> 
	<input type="button" class="changeDirection" value="RU <-> CS" data-direction="ru-cs"/>
	<textarea name="text" id="translationText"></textarea> 
	<input type="button" class="saveBtn" value="Save"/>
</div>

<script src="scripts/foreign/require.js"></script>

<script>
require(["scripts/init"], function(){
	require(["jquery", "scripts/views/app.js"], function ($, App) {
	});
})
</script>