<h1>{{title}}</h1>
{{#if error}}
	<h2>{{error}}</h2>
{{/if}}

<form method="POST">
	<input type="radio" name="lang" value="cs-ru" checked> CS -&gt; RU
	<input type="radio" name="lang" value="ru-cs"> RU -&gt; CS
	<input type="text" name="text">
	<input type="submit" value="Перевести">
</form>