<link rel="stylesheet" type="text/css" href="styles/index.css">
{% block list %}
{% include  "_navbar.html" %}

<div class="container">
	{% if error %}
		<h1 class="error"> {{error}}</h1>
	{% else %}
		<h1 class="title"> Saved word pairs </h1>
	{% endif %}

	<div class="row">		
	{% if items && items.length %}
		<table class="table">
			<tbody>
				{% for item in items %}
					<tr>
						<td>
							{{ item.ru_word }}	
						</td>
						<td>
							{{ item.cs_word }}	
						</td>
						<td>
							<div class="actions">
								<input type="button" class="deleteBtn btn btn-danger" value="Delete" data-item="{{ item.id }}"/>
								<input type="button" class="editBtn btn btn-default" value="Edit" data-item="{{ item.id }}"/>
							</div>	
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<div class="noItems">There are no saved words yet</div>
	{% endif %}	
	</div>
</div>

{% endblock list %}
<script src="scripts/foreign/require.js"></script>

<script>
require(["scripts/init"], function(){
	require(["jquery", "scripts/views/list.js"], function ($, List) {
		//$(document).ready(function() {
			//var myApplication = new List();

			//myApplication.init();
		//});
	});
})
</script>