{% if error %}
	<div class="error"> {{error}}</div>
{% else %}
	<div class="title"> Training </div>
{% endif %}
<link rel="stylesheet" type="text/css" href="styles/index.css">
<div class="mainContent">		
{% if !items || !items.length %}
	<div class="noItems">There are no saved words yet</div>
{% endif %}	
</div>

<script>
    var require = {
        config: {
            "scripts/views/training.js": {
            	items: {{JSON.stringify(items)}}
            }
        }
    };
</script>

<script src="scripts/foreign/require.js"></script>

<script>
require(["scripts/init"], function(){
	require(["jquery", "scripts/views/training.js"], function ($, Training) {

	});
})
</script>