<link rel="stylesheet" type="text/css" href="styles/index.css">
{% include  "_navbar.html" %}
    <div class="container">
    {% if error %}
    	<h1 class="error"> {{error}}</h1>
    {% else %}
    	<h1 class="title"> Training </h1>
    {% endif %}

    <div class="row">		
    {% if !items || !items.length %}
    	<div class="noItems">There are no saved words yet</div>
    {% endif %}	
    </div>

    <div class="row">
        <div class="trainingWrap">
            <span class="questionWord"></span>
            <input class="answerWord" type="text" />
            <input type="button" class="checkBtn btn btn-default" value="Check" />
            <div class="resultWrap"></div>
        </div>   
    </div>
</div>
<script>
    var require = {
        config: {
            "scripts/views/training.js": {
            	items: {{JSON.stringify(items)}}
            }
        }
    };
</script>

<script src="scripts/foreign/require.js"></script>

<script>
require(["scripts/init"], function(){
	require(["jquery", "scripts/views/training.js"], function ($, Training) {

	});
})
</script>