@import url("bootstrap.css");

.title{
	font-size: 30px;
	padding: 20px 10px;
}

.mainContent{
	display: flex;
    align-items: center;
    justify-content: space-around;
}

#text, #translationText{
	width: 40%;
	height: 100px;
	resize: none;
}