@import url("bootstrap.css");


#text, #translationText{
	height: 150px;
	resize: none;
    font-size: 18px;
    padding: 15px;
}

.trainingWrap{
	display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    justify-content: space-around;
    padding: 10px;
    margin: 50px 5px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.answerWord{
	border: 1px solid #ddd;
    border-radius: 2px;	
}

.saveBtn {
    position: absolute;
    bottom: 5px;
    right: 25px;
    cursor: pointer;
}

.row{
    margin-top: 10px;
}